body{
	 background: url("../images/grey-bg.png") repeat scroll;
}

img {
	display: block;
	width: 350px;
	margin: 200px auto 0;
}

h1 {
	font-family: 'League Script', cursive;
	margin: 0;
	color: #4f95a9;
	text-align: center;
}