<div class="container" id="masthead">
	<header>
		<a id="logo" href="/"><img src="images/squilio.png" alt="Squilio"/></a>
		<p id="tagline">Making Online Booking Simple</p>
		<nav id="social-media">
			<span>Follow Us:</span>
			<ul>
				<li><a id="facebook-link" href="#" target="_blank">facebook</a></li>
				<li><a id="twitter-link" href="#" target="_blank">twitter</a></li>
				<li><a id="blog-link" href="#" target="_blank">blog</a></li>
			</ul>
		</nav>
		<nav id="main-navi">
			<ul>
				<li><%= link_to "Pricing", pricing_path %></li>
				<li><%= link_to "Sign Up", signup_path, %></li>
				<li><%= link_to "Contact Us", contact_path %></li>
			</ul>
		</nav>
	</header>
</div>